openapi: 3.0.3
info:
  title: Franchise Systems Ai API
  description: |
    ## Authentication

    All API endpoints require authentication using a Bearer token in the Authorization header:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ### Obtaining an API Key

    To obtain an API key:
    1. Log into [Franchise Systems Ai](https://app.franchisesystems.ai/).
    2. Click your profile in the bottom left hand corner of the interface.
    3. Select "Settings".
    3. Generate a new API key at the bottom of the page.
    4. Store it securely - API keys are only shown once.

    ### API Key Management

    - API keys are attached to individual accounts, and have all the same permissions as the account they are attached to.
    - Only one key per account is valid at any given time.
    - Keys can be revoked by generating a new one.

    ### Rate Limiting
     - A general purpose rate limit of 1000 requests per 15 minute period is applied to this API
     - If this does not meet your needs, please reach out for support

    ## State Management Overview

    The API manages franchise information across **69 jurisdictions**:

    ### United States (51)
     - Standard 2-letter state codes (e.g., `ca` = California, `ny` = New York)
     - `dc` = Washington, District of Columbia

    ### US Territories (5)
    - Guam (`usot_gu`)
    - American Samoa (`usot_as`) 
    - Northern Mariana Islands (`usot_nmi`)
    - Puerto Rico (`usot_pr`)
    - US Virgin Islands (`usot_vi`)

    ### Canadian Provinces & Territories (13)
    - All 10 provinces: Newfoundland (`ca_nl`), Prince Edward Island (`ca_pe`), Nova Scotia (`ca_ns`), New Brunswick (`ca_nb`), Quebec (`ca_qc`), Ontario (`ca_on`), Manitoba (`ca_mb`), Saskatchewan (`ca_sk`), Alberta (`ca_ab`), British Columbia (`ca_bc`)
    - All 3 territories: Yukon (`ca_yt`), Northwest Territories (`ca_nt`), Nunavut (`ca_nu`)

  version: 0.4.0
  contact:
    name: Developer Support
    email: bill@franchisesystems.ai

servers:
  - url: https://v2.api.franchisesystems.ai/public
    description: Production server

security:
  - BearerAuth: []

paths:
  /brands:
    get:
      summary: List all accessible brands
      description: Retrieve a list of all brands that the authenticated agent has access to. Ids returned should be referenced for usage in the "state" routes.
      operationId: listApiAccessBrands
      tags:
        - Brands
      responses:
        "200":
          description: Successfully retrieved brands list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListApiAccessBrandsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/status/{brandId}:
    get:
      summary: Get state franchising status for a brand
      description: Retrieve the franchising status for all states for a specific brand
      operationId: getStateFranchisingStatusForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "200":
          description: Successfully retrieved state franchising status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateFranchisingStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/status/{brandId}/{stateId}:
    post:
      summary: Set actively franchising status
      description: Update whether a brand is actively franchising in a specific state
      operationId: setActivelyFranchising
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: stateId
          in: path
          required: true
          description: State identifier (US state abbreviation or Canadian province code)
          schema:
            $ref: "#/components/schemas/State"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - is_active
              properties:
                is_active:
                  type: boolean
                  description: Whether the brand is actively franchising in this state
                  example: true
      responses:
        "200":
          description: Successfully updated franchising status
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/{stateId}:
    get:
      summary: Get state overview for a brand
      description: Retrieve detailed state-specific information for a brand
      operationId: getStateOverviewForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: stateId
          in: path
          required: true
          description: State identifier (US state abbreviation or Canadian province code)
          schema:
            $ref: "#/components/schemas/State"
      responses:
        "200":
          description: Successfully retrieved state overview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateOverviewResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Update state overview for a brand
      description: Update state-specific franchising information for a brand
      operationId: updateStateOverviewForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: stateId
          in: path
          required: true
          description: State identifier (US state abbreviation or Canadian province code)
          schema:
            $ref: "#/components/schemas/State"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStateOverviewRequest"
      responses:
        "200":
          description: Successfully updated state overview
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/{stateId}/activity:
    post:
      summary: Update state filing activity for a brand
      description: Update the filing activity records for a specific brand-state combination
      operationId: updateStateFilingActivity
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: stateId
          in: path
          required: true
          description: State identifier (US state abbreviation or Canadian province code)
          schema:
            $ref: "#/components/schemas/State"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStateFilingActivityRequest"
      responses:
        "200":
          description: Successfully updated filing activity
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/activity/bulk:
    post:
      summary: Bulk update filing activities for multiple states
      description: |
        Update filing activity records for multiple states of a single brand in one transactional operation.

        **Modes:**
        - `replace` (default): Replaces all existing activities for each state with the provided activities
        - `append`: Adds new activities to existing ones without deleting

        **Mode Resolution:**
        - Request-level `mode` applies to all states unless overridden
        - Per-state `mode` overrides the request-level mode for that specific state

        **Transaction Behavior:** All updates are applied within a single database transaction.
        If any update fails, the entire operation is rolled back and no changes are persisted.
      operationId: bulkUpdateFilingActivityForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateFilingActivityForBrandRequest"
      responses:
        "200":
          description: Successfully updated filing activities for all states
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateFilingActivityForBrandResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/activity:
    get:
      summary: Get all filing activities for a brand
      description: |
        Retrieve all filing activities across all states for a specific brand.

        Returns a list of states with their associated filing activities.
        Only states that have filing activity records are included in the response.
      operationId: getAllFilingActivitiesForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "200":
          description: Successfully retrieved all filing activities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllFilingActivitiesResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}:
    get:
      summary: Get all states overview for a brand
      description: |
        Retrieve state overview information for all or specified states for a brand.

        Use the optional `state_ids` query parameter to filter results to specific states.
        If `state_ids` is not provided, returns all states that have records for the brand.
      operationId: getStatesOverviewForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: state_ids
          in: query
          required: false
          description: Comma-separated list of state codes to filter results (e.g., "ca,ny,tx")
          schema:
            type: string
            example: "ca,ny,tx"
      responses:
        "200":
          description: Successfully retrieved states overview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStatesOverviewResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/bulk:
    post:
      summary: Bulk update states for a brand
      description: |
        Update multiple states for a single brand in one transactional operation.

        **Transaction Behavior:** All updates are applied within a single database transaction.
        If any update fails, the entire operation is rolled back and no changes are persisted.

        **Validation:** All state updates are validated before the transaction begins.
        If validation fails for any state, detailed error messages are returned with indices for easy identification.
      operationId: bulkUpdateStatesForBrand
      tags:
        - States
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateStatesForBrandRequest"
      responses:
        "200":
          description: Successfully updated all states
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateStatesForBrandResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/bulk:
    post:
      summary: Bulk update states across multiple brands
      description: |
        Update states for multiple brands in one transactional operation.

        **Transaction Behavior:** All updates across all brands are applied within a single database transaction.
        If any update fails for any brand, the entire operation is rolled back and no changes are persisted.

        **Validation:** All state updates for all brands are validated before the transaction begins.
        If validation fails for any state in any brand, detailed error messages are returned with brand IDs and indices for easy identification.

        **Authorization:** The authenticated user must have write access to all brands in the request.
      operationId: bulkUpdateStatesMultiBrand
      tags:
        - States
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateStatesMultiBrandRequest"
      responses:
        "200":
          description: Successfully updated all states for all brands
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateStatesMultiBrandResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/{stateId}/signing-link:
    post:
      summary: Set signing link for a state
      description: |
        Set or update a signing link (e.g. DocuSign Superform URL) for a specific brand-state combination.

        When set, the signing link replaces the default DocuSeal signing flow for applicants in that state.
        If a signing link already exists for the given state and document type, the URL is updated in place.
      operationId: setStateSigningLink
      tags:
        - Signing Links
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: stateId
          in: path
          required: true
          description: State identifier (US state abbreviation or Canadian province code)
          schema:
            $ref: "#/components/schemas/State"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetSigningLinkRequest"
            example:
              url: "https://powerforms.docusign.net/abc123"
              provider: "docusign"
              document_type: "fdd"
      responses:
        "200":
          description: Signing link updated (existing link for this state and document type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningLinkResponse"
        "201":
          description: Signing link created (new link for this state and document type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/signing-links/bulk:
    post:
      summary: Bulk set signing links for multiple states
      description: |
        Set signing links for multiple states and optionally a default signing link in one transactional operation.

        - `default_url` sets or updates the default signing link on the external management organisation relationship.
          This default is used as a fallback for states that don't have a state-specific signing link.
        - `states` array sets per-state signing links. Each state can have a different URL.
        - All changes are applied within a single database transaction. If any update fails, the entire operation is rolled back.

        **Note:** The authenticated user must have write access to the brand.
      operationId: bulkSetSigningLinks
      tags:
        - Signing Links
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkSetSigningLinksRequest"
            example:
              provider: "docusign"
              document_type: "fdd"
              default_url: "https://powerforms.docusign.net/default-form"
              states:
                - state_id: "ca"
                  url: "https://powerforms.docusign.net/california-form"
                - state_id: "ny"
                  url: "https://powerforms.docusign.net/new-york-form"
      responses:
        "200":
          description: Successfully set signing links
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkSetSigningLinksResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /states/{brandId}/signing-links:
    get:
      summary: Get all signing links for a brand
      description: |
        Retrieve the default signing link and all state-specific signing links for a brand.

        Use this endpoint to verify which signing links are currently configured.
        The `default` field contains the fallback signing link set on the external management organisation.
        The `states` array contains all state-specific overrides.
      operationId: getSigningLinksForBrand
      tags:
        - Signing Links
      parameters:
        - name: brandId
          in: path
          required: true
          description: UUID of the brand
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "200":
          description: Successfully retrieved signing links
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSigningLinksResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
      description: |
        **API Key Authentication**

        All endpoints require a valid API key passed as a Bearer token in the Authorization header.

        **Format:** `Authorization: Bearer YOUR_API_KEY`

  schemas:
    State:
      type: string
      enum:
        - ak
        - al
        - ar
        - az
        - ca
        - co
        - ct
        - dc
        - de
        - fl
        - ga
        - hi
        - ia
        - id
        - il
        - in
        - ks
        - ky
        - la
        - ma
        - md
        - me
        - mi
        - mn
        - mo
        - ms
        - mt
        - nc
        - nd
        - ne
        - nh
        - nj
        - nm
        - nv
        - ny
        - oh
        - ok
        - or
        - pa
        - ri
        - sc
        - sd
        - tn
        - tx
        - ut
        - va
        - vt
        - wa
        - wi
        - wv
        - wy
        - usot_gu
        - usot_as
        - usot_nmi
        - usot_pr
        - usot_vi
        - ca_nl
        - ca_pe
        - ca_ns
        - ca_nb
        - ca_qc
        - ca_on
        - ca_mb
        - ca_sk
        - ca_ab
        - ca_bc
        - ca_yt
        - ca_nt
        - ca_nu

    StateRegistrationStatus:
      type: string
      enum:
        - none
        - filed_not_registered
        - filed_registered
      description: Current registration status in the state
      example: "none"

    AgreementFeeTimeframe:
      type: string
      enum:
        - annually
        - biannually
        - monthly
        - quarterly
        - yearly
      description: Timeframe for fee payments
      example: "yearly"

    Agent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the agent
          example: "02b9c769-7f30-44b1-94d4-d2fed6eccf25"
        firstName:
          type: string
          nullable: true
          description: Agent's first name
          example: "Bill"
        lastName:
          type: string
          nullable: true
          description: Agent's last name
          example: "Smith"
        profilePictureUrl:
          type: string
          nullable: true
          description: URL or identifier for the agent's profile picture
          example: "02b9c769d2fed6eccf25-1520767d-0949-4049-b826-36a7dcc26c0f"

    FDD:
      type: object
      required:
        - id
        - title
        - prepared
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the FDD document
          example: "fdd123e4-567e-89ab-cdef-123456789abc"
        title:
          type: string
          description: Title of the FDD document
          example: "Pizza Palace Franchise Disclosure Document"
        prepared:
          type: boolean
          description: Whether the FDD document has been prepared
          example: true
        date_last_modified:
          type: string
          format: date-time
          nullable: true
          description: When the FDD was last modified
          example: "2025-05-15T14:30:00+00:00"

    Brand:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the brand
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          description: Brand name
          example: "Pizza Palace"
        logoUrl:
          type: string
          format: uri
          nullable: true
          description: URL to the brand's logo image
          example: "https://example.com/logos/pizza-palace.png"

    FilingActivity:
      type: object
      required:
        - headline
        - date
        - active
      properties:
        headline:
          type: string
          description: Brief headline describing the filing activity
          example: "FDD Filed with State Agency"
        description:
          type: string
          nullable: true
          description: Detailed description of the filing activity
          example: "Franchise Disclosure Document successfully filed with California Department of Financial Protection & Innovation"
        date:
          type: string
          format: date-time
          description: Date and time of the filing activity
          example: "2025-05-15T14:30:00+00:00"
        active:
          type: boolean
          description: Whether this filing activity record is currently active
          example: true

    StateOverview:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this brand-state record
          example: "8fa6dbc4-edc6-404f-8f0b-6e8eb5057706"
        created_at:
          type: string
          format: date-time
          description: When this record was created
          example: "2025-05-22T09:45:30.684915+00:00"
        state:
          $ref: "#/components/schemas/State"
        brand_id:
          type: string
          format: uuid
          description: UUID of the associated brand
          example: "22a7b17b-6d95-4f7d-bc90-a687fcaeeab3"
        max_locations:
          type: number
          nullable: true
          description: Maximum number of locations allowed in this state
          example: null
        registration_expires_at:
          type: string
          format: date-time
          nullable: true
          description: When the current registration expires
          example: "2025-05-03T21:00:00+00:00"
        fdd_filed_at:
          type: string
          format: date-time
          nullable: true
          description: When the FDD was filed
          example: "2025-05-04T21:00:00+00:00"
        fdd_filing_required:
          type: boolean
          nullable: true
          description: Whether FDD filing is required in this state
          example: true
        fdd_renewal_deadline:
          type: string
          format: date-time
          nullable: true
          description: Deadline for FDD renewal
          example: "2025-05-02T21:00:00+00:00"
        franchise_fee_collection_rules:
          type: string
          nullable: true
          description: Rules governing franchise fee collection
          example: "No general escrow requirement, but DFPI may impose escrow or fee deferral as a condition if franchisor's financials or experience are deficient (merit review) . Otherwise no escrow if no condition."
        governing_agency_address:
          type: string
          nullable: true
          description: Address of the governing agency
          example: "2101 Arena Blvd, Sacramento, CA 95834"
        governing_agency_email:
          type: string
          format: email
          nullable: true
          description: Email of the governing agency
          example: "postman@testing.com"
        governing_agency_name:
          type: string
          nullable: true
          description: Name of the governing agency
          example: "California Department of Financial Protection & Innovation"
        governing_agency_phone:
          type: string
          nullable: true
          description: Phone number of the governing agency
          example: "(866) 275-2677"
        insurance_requirements:
          type: string
          nullable: true
          description: Insurance requirements for franchisees
          example: "No state-imposed insurance requirements (aside from disclosure of any franchisee insurance obligations in FDD)."
        is_active:
          type: boolean
          nullable: true
          description: Whether actively franchising in this state
          example: true
        other_notes:
          type: string
          nullable: true
          description: Additional notes or comments
          example: "California requires delivering the FDD 14 days before sale (FTC rule) and also a 5-day contract review period if the franchise agreement is given at signing (Cal. Corp. Code §31119). Franchise brokers must be disclosed and may need to register."
        registration_agent:
          type: string
          format: uuid
          nullable: true
          description: UUID reference to the registration agent
          example: "02b9c769-7f30-44b1-94d4-d2fed6eccf25"
        registration_date:
          type: string
          format: date-time
          nullable: true
          description: Date of registration
          example: "2025-05-14T21:00:00+00:00"
        registration_or_filing_fee:
          type: number
          nullable: true
          description: Cost of registration or filing fee
          example: 123123
        registration_required:
          type: boolean
          nullable: true
          description: Whether registration is required in this state
          example: true
        registration_status:
          $ref: "#/components/schemas/StateRegistrationStatus"
        renewal_fee:
          type: number
          nullable: true
          description: Cost of renewal fee
          example: null
        renewal_fee_timeframe:
          $ref: "#/components/schemas/AgreementFeeTimeframe"
        special_state_addenda_requirements:
          type: string
          nullable: true
          description: Special state-specific addenda requirements
          example: "Yes – Must include California State Cover Page with specific cautions and legends in the FDD, and any required state addenda (e.g. California-specific disclosures) ."
        surety_bond_requirements:
          type: string
          nullable: true
          description: Surety bond requirements
          example: "No general requirement (however, DFPI may accept a surety bond in lieu of escrow for conditional registrations)."
        trademark_requirements:
          type: string
          nullable: true
          description: Trademark-related requirements
          example: "No (California does not mandate a federally registered trademark for registration or exemption; state has separate \"trade name\" exemption §31111 for marketing plan license arrangements, not commonly used)."
        annual_renewal_information:
          type: string
          nullable: true
          description: Information about annual renewal process
          example: null
        initial_registration_information:
          type: string
          nullable: true
          description: Information about initial registration process
          example: null
        waiting_period_information:
          type: string
          nullable: true
          description: Information about waiting periods
          example: "Yo, just testing"
        fdd_comment_letters:
          type: number
          nullable: true
          description: Number of comment letters received for FDD
          example: 2
        fdd_filing_duration_days:
          type: number
          nullable: true
          description: Duration in days for FDD filing process
          example: 30
        financial_assurance:
          type: string
          nullable: true
          description: Financial assurance requirements
          example: "Surety bond or escrow account required"
        general_information:
          type: string
          nullable: true
          description: General information and notes
          example: "Additional state-specific franchise requirements"
        is_action_required:
          type: boolean
          nullable: true
          description: Whether action is required for this state
          example: true
        legal_representative_email:
          type: string
          format: email
          nullable: true
          description: Email of the legal representative
          example: "legal@example.com"
        legal_representative_first_name:
          type: string
          nullable: true
          description: First name of the legal representative
          example: "John"
        legal_representative_last_name:
          type: string
          nullable: true
          description: Last name of the legal representative
          example: "Smith"
        legal_representative_phone:
          type: string
          nullable: true
          description: Phone number of the legal representative
          example: "(555) 123-4567"
        legal_representative_role:
          type: string
          nullable: true
          description: Role/title of the legal representative
          example: "General Counsel"
        registrationAgent:
          allOf:
            - $ref: "#/components/schemas/Agent"
            - nullable: true
          description: Registration agent information
        fdd:
          allOf:
            - $ref: "#/components/schemas/FDD"
            - nullable: true
          description: FDD document information
        locations:
          type: integer
          description: Number of locations for this brand in this state
          example: 1
        filing_activity:
          type: array
          items:
            $ref: "#/components/schemas/FilingActivity"
          description: List of filing activities for this brand-state combination
          example:
            - date: "2025-05-15T14:30:00+00:00"
              headline: "FDD Filed with State Agency"
              description: "Franchise Disclosure Document successfully filed with California Department of Financial Protection & Innovation"
              active: true
            - date: "2025-03-10T09:15:00+00:00"
              headline: "Registration Renewal Submitted"
              description: "Annual registration renewal application submitted"
              active: true

    ListApiAccessBrandsResponse:
      type: object
      required:
        - brands
      properties:
        brands:
          type: array
          items:
            $ref: "#/components/schemas/Brand"
          description: List of brands accessible to the authenticated agent

    StateFranchisingStatusResponse:
      type: object
      description: |
        Complete map of all supported states/territories to their franchising status for the specified brand.

        Returns a boolean value for each of the 69 supported jurisdictions indicating whether the brand is actively franchising in that location.

        - `true` = Brand is actively franchising in this state/territory
        - `false` = Brand is not actively franchising in this state/territory

        **Note:** All 69 jurisdictions are always included in the response, even if the brand has no presence in that location.
      properties:
        ak:
          type: boolean
          description: Alaska
        al:
          type: boolean
          description: Alabama
        ar:
          type: boolean
          description: Arkansas
        az:
          type: boolean
          description: Arizona
        ca:
          type: boolean
          description: California
        co:
          type: boolean
          description: Colorado
        ct:
          type: boolean
          description: Connecticut
        dc:
          type: boolean
          description: Washington, District of Columbia
        de:
          type: boolean
          description: Delaware
        fl:
          type: boolean
          description: Florida
        ga:
          type: boolean
          description: Georgia
        hi:
          type: boolean
          description: Hawaii
        ia:
          type: boolean
          description: Iowa
        id:
          type: boolean
          description: Idaho
        il:
          type: boolean
          description: Illinois
        in:
          type: boolean
          description: Indiana
        ks:
          type: boolean
          description: Kansas
        ky:
          type: boolean
          description: Kentucky
        la:
          type: boolean
          description: Louisiana
        ma:
          type: boolean
          description: Massachusetts
        md:
          type: boolean
          description: Maryland
        me:
          type: boolean
          description: Maine
        mi:
          type: boolean
          description: Michigan
        mn:
          type: boolean
          description: Minnesota
        mo:
          type: boolean
          description: Missouri
        ms:
          type: boolean
          description: Mississippi
        mt:
          type: boolean
          description: Montana
        nc:
          type: boolean
          description: North Carolina
        nd:
          type: boolean
          description: North Dakota
        ne:
          type: boolean
          description: Nebraska
        nh:
          type: boolean
          description: New Hampshire
        nj:
          type: boolean
          description: New Jersey
        nm:
          type: boolean
          description: New Mexico
        nv:
          type: boolean
          description: Nevada
        ny:
          type: boolean
          description: New York
        oh:
          type: boolean
          description: Ohio
        ok:
          type: boolean
          description: Oklahoma
        or:
          type: boolean
          description: Oregon
        pa:
          type: boolean
          description: Pennsylvania
        ri:
          type: boolean
          description: Rhode Island
        sc:
          type: boolean
          description: South Carolina
        sd:
          type: boolean
          description: South Dakota
        tn:
          type: boolean
          description: Tennessee
        tx:
          type: boolean
          description: Texas
        ut:
          type: boolean
          description: Utah
        va:
          type: boolean
          description: Virginia
        vt:
          type: boolean
          description: Vermont
        wa:
          type: boolean
          description: Washington
        wi:
          type: boolean
          description: Wisconsin
        wv:
          type: boolean
          description: West Virginia
        wy:
          type: boolean
          description: Wyoming
        usot_gu:
          type: boolean
          description: Guam
        usot_as:
          type: boolean
          description: American Samoa
        usot_nmi:
          type: boolean
          description: Northern Mariana Islands
        usot_pr:
          type: boolean
          description: Puerto Rico
        usot_vi:
          type: boolean
          description: US Virgin Islands
        ca_nl:
          type: boolean
          description: Newfoundland and Labrador
        ca_pe:
          type: boolean
          description: Prince Edward Island
        ca_ns:
          type: boolean
          description: Nova Scotia
        ca_nb:
          type: boolean
          description: New Brunswick
        ca_qc:
          type: boolean
          description: Quebec
        ca_on:
          type: boolean
          description: Ontario
        ca_mb:
          type: boolean
          description: Manitoba
        ca_sk:
          type: boolean
          description: Saskatchewan
        ca_ab:
          type: boolean
          description: Alberta
        ca_bc:
          type: boolean
          description: British Columbia
        ca_yt:
          type: boolean
          description: Yukon
        ca_nt:
          type: boolean
          description: Northwest Territories
        ca_nu:
          type: boolean
          description: Nunavut
      example:
        ak: false
        al: true
        ar: false
        az: true
        ca: true
        co: false
        ct: false
        dc: false
        de: false
        fl: false
        ga: false
        hi: false
        ia: false
        id: false
        il: false
        in: false
        ks: false
        ky: false
        la: false
        ma: false
        md: false
        me: false
        mi: false
        mn: false
        mo: false
        ms: false
        mt: false
        nc: false
        nd: false
        ne: false
        nh: false
        nj: false
        nm: false
        nv: false
        ny: false
        oh: false
        ok: false
        or: false
        pa: false
        ri: false
        sc: false
        sd: false
        tn: false
        tx: false
        ut: false
        va: false
        vt: false
        wa: false
        wi: false
        wv: false
        wy: false
        usot_gu: false
        usot_as: false
        usot_nmi: false
        usot_pr: false
        usot_vi: false
        ca_nl: false
        ca_pe: false
        ca_ns: false
        ca_nb: false
        ca_qc: false
        ca_on: false
        ca_mb: false
        ca_sk: false
        ca_ab: false
        ca_bc: false
        ca_yt: false
        ca_nt: false
        ca_nu: false

    StateOverviewResponse:
      type: object
      required:
        - state
      properties:
        state:
          allOf:
            - $ref: "#/components/schemas/StateOverview"
            - nullable: true
          description: State overview information, null if no data exists
      

    UpdateStateOverviewRequest:
      type: object
      properties:
        max_locations:
          type: number
          nullable: true
          description: Maximum number of locations allowed in this state
        registration_expires_at:
          type: string
          format: date-time
          nullable: true
          description: When the current registration expires
        fdd_filed_at:
          type: string
          format: date-time
          nullable: true
          description: When the FDD was filed
        fdd_filing_required:
          type: boolean
          nullable: true
          description: Whether FDD filing is required in this state
        fdd_renewal_deadline:
          type: string
          format: date-time
          nullable: true
          description: Deadline for FDD renewal
        franchise_fee_collection_rules:
          type: string
          nullable: true
          description: Rules governing franchise fee collection
        governing_agency_address:
          type: string
          nullable: true
          description: Address of the governing agency
        governing_agency_email:
          type: string
          format: email
          nullable: true
          description: Email of the governing agency
        governing_agency_name:
          type: string
          nullable: true
          description: Name of the governing agency
        governing_agency_phone:
          type: string
          nullable: true
          description: Phone number of the governing agency
        insurance_requirements:
          type: string
          nullable: true
          description: Insurance requirements for franchisees
        other_notes:
          type: string
          nullable: true
          description: Additional notes or comments
        registration_date:
          type: string
          format: date-time
          nullable: true
          description: Date of registration
        registration_or_filing_fee:
          type: number
          nullable: true
          description: Cost of registration or filing fee
        registration_required:
          type: boolean
          nullable: true
          description: Whether registration is required in this state
        registration_status:
          $ref: "#/components/schemas/StateRegistrationStatus"
        renewal_fee:
          type: number
          nullable: true
          description: Cost of renewal fee
        renewal_fee_timeframe:
          $ref: "#/components/schemas/AgreementFeeTimeframe"
        special_state_addenda_requirements:
          type: string
          nullable: true
          description: Special state-specific addenda requirements
        surety_bond_requirements:
          type: string
          nullable: true
          description: Surety bond requirements
        trademark_requirements:
          type: string
          nullable: true
          description: Trademark-related requirements
        annual_renewal_information:
          type: string
          nullable: true
          description: Information about annual renewal process
        initial_registration_information:
          type: string
          nullable: true
          description: Information about initial registration process
        waiting_period_information:
          type: string
          nullable: true
          description: Information about waiting periods
        fdd_comment_letters:
          type: number
          nullable: true
          description: Number of comment letters received for FDD
        fdd_filing_duration_days:
          type: number
          nullable: true
          description: Duration in days for FDD filing process
        financial_assurance:
          type: string
          nullable: true
          description: Financial assurance requirements
        general_information:
          type: string
          nullable: true
          description: General information and notes
        is_action_required:
          type: boolean
          nullable: true
          description: Whether action is required for this state
        legal_representative_email:
          type: string
          format: email
          nullable: true
          description: Email of the legal representative
        legal_representative_first_name:
          type: string
          nullable: true
          description: First name of the legal representative
        legal_representative_last_name:
          type: string
          nullable: true
          description: Last name of the legal representative
        legal_representative_phone:
          type: string
          nullable: true
          description: Phone number of the legal representative
        legal_representative_role:
          type: string
          nullable: true
          description: Role/title of the legal representative

    UpdateStateFilingActivityRequest:
      type: object
      required:
        - activity
      properties:
        activity:
          type: array
          items:
            $ref: "#/components/schemas/FilingActivity"
          description: |
            Array of filing activities to update for the brand-state combination.
            Note: This operation completely replaces all existing filing activities with the provided array.
            The entire activity array must always be passed, as the previous activity records will be wiped and reset with what is provided here.
          example:
            - headline: "FDD Filed with State Agency"
              description: "Franchise Disclosure Document successfully filed with California Department of Financial Protection & Innovation"
              date: "2025-05-15T14:30:00+00:00"
              active: true
            - headline: "Registration Renewal Submitted"
              description: "Annual registration renewal application submitted"
              date: "2025-03-10T09:15:00+00:00"
              active: true

    FilingActivityMode:
      type: string
      enum:
        - replace
        - append
      description: |
        Mode for updating filing activities:
        - `replace`: Delete all existing activities and insert new ones
        - `append`: Add new activities without removing existing ones
      example: "replace"

    StateFilingActivityUpdateItem:
      type: object
      required:
        - state_id
        - activity
      properties:
        state_id:
          $ref: "#/components/schemas/State"
        mode:
          $ref: "#/components/schemas/FilingActivityMode"
        activity:
          type: array
          items:
            $ref: "#/components/schemas/FilingActivity"
          description: Array of filing activities for this state
      description: A single state's filing activity update

    BulkUpdateFilingActivityForBrandRequest:
      type: object
      required:
        - states
      properties:
        mode:
          $ref: "#/components/schemas/FilingActivityMode"
        states:
          type: array
          items:
            $ref: "#/components/schemas/StateFilingActivityUpdateItem"
          minItems: 1
          maxItems: 69
          description: Array of state filing activity updates (maximum 69 jurisdictions)
      example:
        mode: "replace"
        states:
          - state_id: "ca"
            activity:
              - headline: "FDD Filed with State Agency"
                description: "Filed with California DFPI"
                date: "2025-05-15T14:30:00+00:00"
                active: true
          - state_id: "ny"
            mode: "append"
            activity:
              - headline: "Registration Renewal Submitted"
                description: "Annual renewal submitted"
                date: "2025-03-10T09:15:00+00:00"
                active: true

    BulkUpdateFilingActivityForBrandResponse:
      type: object
      required:
        - updated
        - state_ids
      properties:
        updated:
          type: integer
          description: Number of states successfully updated
          example: 2
        state_ids:
          type: array
          items:
            $ref: "#/components/schemas/State"
          description: List of state IDs that were updated
          example: ["ca", "ny"]

    StateUpdateItem:
      type: object
      required:
        - state_id
        - updates
      properties:
        state_id:
          $ref: "#/components/schemas/State"
        updates:
          $ref: "#/components/schemas/UpdateStateOverviewRequest"
      description: A single state update containing the state identifier and the fields to update

    BulkUpdateStatesForBrandRequest:
      type: object
      required:
        - states
      properties:
        states:
          type: array
          items:
            $ref: "#/components/schemas/StateUpdateItem"
          minItems: 1
          maxItems: 69
          description: Array of state updates (maximum 69 jurisdictions - all US states, DC, territories, and Canadian provinces)
      example:
        states:
          - state_id: "ca"
            updates:
              registration_required: true
              fdd_filing_required: true
              registration_status: "filed_registered"
          - state_id: "ny"
            updates:
              registration_required: true
              fdd_filing_required: false
              registration_or_filing_fee: 750

    BulkUpdateStatesForBrandResponse:
      type: object
      required:
        - updated
        - state_ids
      properties:
        updated:
          type: integer
          description: Number of states successfully updated
          example: 2
        state_ids:
          type: array
          items:
            $ref: "#/components/schemas/State"
          description: List of state IDs that were updated
          example: ["ca", "ny"]

    BrandStateUpdateItem:
      type: object
      required:
        - brand_id
        - states
      properties:
        brand_id:
          type: string
          format: uuid
          description: UUID of the brand to update
          example: "123e4567-e89b-12d3-a456-426614174000"
        states:
          type: array
          items:
            $ref: "#/components/schemas/StateUpdateItem"
          minItems: 1
          maxItems: 69
          description: Array of state updates for this brand (maximum 69 jurisdictions)

    BulkUpdateStatesMultiBrandRequest:
      type: object
      required:
        - brands
      properties:
        brands:
          type: array
          items:
            $ref: "#/components/schemas/BrandStateUpdateItem"
          minItems: 1
          maxItems: 50
          description: Array of brand updates (maximum 50 brands)
      example:
        brands:
          - brand_id: "123e4567-e89b-12d3-a456-426614174000"
            states:
              - state_id: "ca"
                updates:
                  registration_required: true
                  fdd_filing_required: true
          - brand_id: "987fcdeb-51a2-3b4c-d5e6-789012345678"
            states:
              - state_id: "tx"
                updates:
                  registration_required: false
              - state_id: "fl"
                updates:
                  registration_required: false

    BrandUpdateResult:
      type: object
      required:
        - brand_id
        - state_ids
      properties:
        brand_id:
          type: string
          format: uuid
          description: UUID of the brand that was updated
          example: "123e4567-e89b-12d3-a456-426614174000"
        state_ids:
          type: array
          items:
            $ref: "#/components/schemas/State"
          description: List of state IDs that were updated for this brand
          example: ["ca", "ny"]

    BulkUpdateStatesMultiBrandResponse:
      type: object
      required:
        - updated
        - results
      properties:
        updated:
          type: integer
          description: Total number of states updated across all brands
          example: 4
        results:
          type: array
          items:
            $ref: "#/components/schemas/BrandUpdateResult"
          description: Per-brand breakdown of updated states
          example:
            - brand_id: "123e4567-e89b-12d3-a456-426614174000"
              state_ids: ["ca"]
            - brand_id: "987fcdeb-51a2-3b4c-d5e6-789012345678"
              state_ids: ["tx", "fl"]

    StateFilingActivityItem:
      type: object
      required:
        - state_id
        - filing_activity
      properties:
        state_id:
          $ref: "#/components/schemas/State"
        filing_activity:
          type: array
          items:
            $ref: "#/components/schemas/FilingActivity"
          description: List of filing activities for this state
      description: Filing activities for a specific state

    GetAllFilingActivitiesResponse:
      type: object
      required:
        - activities
      properties:
        activities:
          type: array
          items:
            $ref: "#/components/schemas/StateFilingActivityItem"
          description: List of states with their filing activities
      example:
        activities:
          - state_id: "ca"
            filing_activity:
              - headline: "FDD Filed"
                description: "Filed with California DFPI"
                date: "2025-05-15T14:30:00+00:00"
                active: true
          - state_id: "ny"
            filing_activity:
              - headline: "Registration Renewal"
                description: "Annual renewal submitted"
                date: "2025-03-10T09:15:00+00:00"
                active: true

    GetStatesOverviewResponse:
      type: object
      required:
        - states
      properties:
        states:
          type: array
          items:
            $ref: "#/components/schemas/StateOverview"
          description: List of state overview objects
      example:
        states:
          - id: "8fa6dbc4-edc6-404f-8f0b-6e8eb5057706"
            created_at: "2025-05-22T09:45:30.684915+00:00"
            state: "ca"
            brand_id: "22a7b17b-6d95-4f7d-bc90-a687fcaeeab3"
            is_active: true
            registration_required: true
            fdd_filing_required: true
            locations: 5
            filing_activity: []

    SigningLinkProvider:
      type: string
      enum:
        - docusign
      description: The signing platform provider

    SigningLinkDocumentType:
      type: string
      enum:
        - fdd
        - franchise_agreement
      description: The type of document the signing link is for

    SetSigningLinkRequest:
      type: object
      required:
        - url
        - provider
        - document_type
      properties:
        url:
          type: string
          format: uri
          description: The full signing link URL (e.g. DocuSign PowerForm URL)
          example: "https://powerforms.docusign.net/abc123"
        provider:
          $ref: "#/components/schemas/SigningLinkProvider"
        document_type:
          $ref: "#/components/schemas/SigningLinkDocumentType"

    SigningLinkResponse:
      type: object
      required:
        - id
        - url
        - provider
        - document_type
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the signing link
        url:
          type: string
          format: uri
          description: The signing link URL
        provider:
          $ref: "#/components/schemas/SigningLinkProvider"
        document_type:
          $ref: "#/components/schemas/SigningLinkDocumentType"
        created_at:
          type: string
          format: date-time
          description: When the signing link was created
        updated_at:
          type: string
          format: date-time
          description: When the signing link was last updated
      example:
        id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        url: "https://powerforms.docusign.net/abc123"
        provider: "docusign"
        document_type: "fdd"
        created_at: "2026-02-10T12:00:00+00:00"
        updated_at: "2026-02-10T12:00:00+00:00"

    BulkSigningLinkStateItem:
      type: object
      required:
        - state_id
        - url
      properties:
        state_id:
          $ref: "#/components/schemas/State"
        url:
          type: string
          format: uri
          description: The signing link URL for this state
          example: "https://powerforms.docusign.net/california-form"

    BulkSetSigningLinksRequest:
      type: object
      required:
        - provider
        - document_type
      properties:
        provider:
          $ref: "#/components/schemas/SigningLinkProvider"
        document_type:
          $ref: "#/components/schemas/SigningLinkDocumentType"
        default_url:
          type: string
          format: uri
          description: |
            Default signing link URL to set on the external management organisation.
            Used as a fallback for states that don't have a state-specific signing link.
          example: "https://powerforms.docusign.net/default-form"
        states:
          type: array
          items:
            $ref: "#/components/schemas/BulkSigningLinkStateItem"
          description: Per-state signing link overrides

    BulkSetSigningLinksResponse:
      type: object
      properties:
        default:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              format: uri
          description: The default signing link (null if not set)
        states:
          type: array
          items:
            type: object
            required:
              - state_id
              - id
              - url
            properties:
              state_id:
                $ref: "#/components/schemas/State"
              id:
                type: string
                format: uuid
              url:
                type: string
                format: uri
          description: Per-state signing links that were set
      example:
        default:
          id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          url: "https://powerforms.docusign.net/default-form"
        states:
          - state_id: "ca"
            id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
            url: "https://powerforms.docusign.net/california-form"
          - state_id: "ny"
            id: "c3d4e5f6-a7b8-9012-cdef-123456789012"
            url: "https://powerforms.docusign.net/new-york-form"

    GetSigningLinksResponse:
      type: object
      properties:
        default:
          type: object
          nullable: true
          required:
            - id
            - url
            - provider
            - document_type
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              format: uri
            provider:
              $ref: "#/components/schemas/SigningLinkProvider"
            document_type:
              $ref: "#/components/schemas/SigningLinkDocumentType"
          description: The default signing link for the external management organisation (null if not set)
        states:
          type: array
          items:
            type: object
            required:
              - state_id
              - id
              - url
              - provider
              - document_type
            properties:
              state_id:
                $ref: "#/components/schemas/State"
              id:
                type: string
                format: uuid
              url:
                type: string
                format: uri
              provider:
                $ref: "#/components/schemas/SigningLinkProvider"
              document_type:
                $ref: "#/components/schemas/SigningLinkDocumentType"
          description: State-specific signing links
      example:
        default:
          id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          url: "https://powerforms.docusign.net/default-form"
          provider: "docusign"
          document_type: "fdd"
        states:
          - state_id: "ca"
            id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
            url: "https://powerforms.docusign.net/california-form"
            provider: "docusign"
            document_type: "fdd"
          - state_id: "ny"
            id: "c3d4e5f6-a7b8-9012-cdef-123456789012"
            url: "https://powerforms.docusign.net/new-york-form"
            provider: "docusign"
            document_type: "fdd"

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request"

  responses:
    UnauthorizedError:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            no_auth_header:
              summary: No authentication header
              value:
                error: "No authentication header provided"
            no_api_key:
              summary: No API key in header
              value:
                error: "No apiKey provided in authentication header"
            invalid_api_key:
              summary: Invalid API key
              value:
                error: "Invalid apiKey provided in authentication header"
            expired_api_key:
              summary: Expired API key
              value:
                error: "Expired apiKey provided in authentication header. Please generate a new key from your Franchise Systems profile settings page"

    BadRequestError:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Invalid request parameters"

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Resource not found"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Internal server error"

tags:
  - name: Brands
  - name: States
    description: Operations related to brand and state specific franchising information
  - name: Signing Links
    description: Manage DocuSign Superform signing links per state. When a signing link is set, it replaces the default DocuSeal signing flow for applicants in that state.